extends index

append header 
    title Лидерборд капитала
    style 
        include css/ebank.css
    
block main
    h1.page-header Лидерборд капитала
    .capitallb-wrapper.styled-scroll
        table.ebank-table.capitallb
            tr
                th Место
                th Пользователь
                th Баланс
                th Капитал
            each user, place in lb 
                tr 
                    td.place 
                        if place < 3
                            b= place + 1
                        else
                            span= place + 1
                    td.user
                        img.avatar(src="/getuseravatar?id=" + user.id)
                        a.clean(href="/user?id=" + user.id)= user.name
                    td.balance
                        span= user.balance + " EBL"
                    td.capital
                        span= user.capital.toFixed(2) + " %"


