extends index


append header 
    title Банк CoffeeTox
    style 
        include css/ebank.css
    
append body
    script 
        include js/ebank.js

block main
    h1.page-header Банк CoffeeTox
    .stats.block
        span.balance= balance + ' EBL'
        span.capital= 'Капитал: ' + (capital).toFixed(2) + '%'
    a.clean(href="/capitallb", style="display:block;margin-top:15px") Лидерборд капитала
    h2 Последние переводы
    table.ebank-table.transactions 
        tr 
            th Пользователь
            th Дата и время
            th Комментарий
            th Сумма
        each t in transactions
            tr(class=t.to_me&&"to_me")
                td.user 
                    img.avatar(src="/getuseravatar?id=" + t.target_id)
                    a.clean(href="/user?id=" + t.target_id)= t.target_name 
                td.datetime 
                    span= utils.getPostDatetimeLabel(t.datetime)
                td.comment 
                    p= t.comment 
                td.amount
                    span= t.amount + " EBL"

    h2 Перевести человеку
    form(name="ebank")
