extends index

include ../cfx_modules/popup/index
include ../cfx_modules/inspect/index
include ../cfx_modules/uploader/index

append style 
    include css/form.css
append script 
    include js/form.js

mixin entry(data, subtype)
    input(type=subtype, name=data.name, placeholder=data.placeholder, optional=data.optional)

mixin textarea(data)
    textarea(name=data.name, placeholder=data.placeholder, optional=data.optional)

mixin file(data)
    .uploader(id=data.name, name=data.name, limit=data.limit, optional=data.optional)

mixin text(data)
    +entry(data, 'text')

mixin tel(data)
    +entry(data, 'tel')

mixin password(data)
    +entry(data, 'password')
    
mixin email(data)
    +entry(data, 'email')

mixin date(data)
    +entry(data, 'date')

mixin unit(data)
    .form-unit(id=data.name)
        - let c = data.optional? '' : ' *';
        span.title= data.title + c
        +#{data.type}(data)
        span.error

mixin hints(hints)
    ul.hints
        each link, hint in hints
            li 
                a.clean(href=link)= hint

block header 
    title= form.title

block main
    h1.page-header= form.title
    form(name=form.name)
        .form-units 
            each data in form.units
                +unit(data)
        if form.hints !== undefined
            +hints(form.hints)
        input(value="Отправить", type="submit")



