extends index

append body 
    script 
        include js/friends.js

append header 
    title Друзья

append main
    h1.page-header Друзья

    if requests.incoming.length > 0
        h3 Входящие запросы
        ul.incoming 
            each req in requests.incoming
                li
                    .wrapper(style="display:flex;gap:5px")
                        a.clean(href="/user?id="+req.author_id)= req.name + ` (${req.tag})`
                        a.button.light(onclick=`acceptRequest(${req.author_id})`) Принять
                        a.button.light(onclick=`declineRequest(${req.author_id})`) Отклонить
    
    if requests.outgoing.length > 0
        h3 Исходящие запросы
        ul.outgoing 
            each req in requests.outgoing 
                li 
                    .wrapper(style="display:flex;gap:5px")
                        a.clean(href="/user?id="+req.to_id)= req.name + ` (${req.tag})`
                        a.button.light(onclick=`cancelRequest(${req.to_id})`) Отозвать

    if (requests.outgoing.length + requests.incoming.length) > 0
        hr

    a.button.add-friend Добавить друга

    if friends.length == 0
        p Нет друзей :(
    else 
        ul.friends 
            each friend in friends 
                li 
                    .wrapper(style="display:flex;gap:5px")
                        a.clean(href="/user?id="+friend.id)= friend.name + ` (${friend.tag})`
                        a.button.light(onclick=`removeFriend(${friend.id})`) Удалить



