extends index

append body 
    script 
        include js/friends.js

append header 
    title Друзья

append main
    h1.page-header Друзья

    if requests.incoming.length > 0
        h3 Входящие запросы
        ol.incoming 
            each req in requests.incoming
                li(style="display:flex;gap:5px")
                    a.clean(href="/user?id="+req.author_id)= req.name + ` (${req.tag})`
                    a.button(onclick=`acceptRequest(${req.author_id})`) Принять
                    a.button(onclick=`declineRequest(${req.author_id})`) Отклонить
    
    if requests.outgoing.length > 0
        h3 Исходящие запросы
        ol.outgoing 
            each req in requests.outgoing 
                li(style="display:flex;gap:5px")
                    a.clean(href="/user?id="+req.to_id)= req.name + ` (${req.tag})`
                    a.button(onclick=`cancelRequest(${req.to_id})`) Отозвать

    if (requests.outgoing.length + requests.incoming.length) > 0
        hr

    a.button.add-friend Добавить друга

    if friends.length == 0
        p Нет друзей :(
    else 
        ol.friends 
            each friend in friends 
                li(style="display:flex;gap:5px")
                    a.clean(href="/user?id="+friend.id)= friend.name + ` (${friend.tag})`
                    a.button(onclick=`removeFriend(${friend.id})`) Удалить



