mixin visual(content)
    - const c = (w) => '/file?id=' + w.file_id;
    - let imgc = content.image.length;
    - let vidc = content.video.length;
    - let totc = imgc + vidc;

    if totc > 1
        - let nlarge = totc % 3;
        - nlarge = nlarge == 1? 4 : nlarge;
        - let i = 0;

        .visual(inspect-group)
            while i < totc
                - let isimg = i < imgc;
                - let cls = (i < nlarge? 'large' : 'small') + (isimg? '': ' video');
                .tile(class=cls)
                    if isimg
                        img(src=c(content.image[i]))
                    else
                        video(src=c(content.video[i - imgc]), preload='metacont')
                - i++;
        
    else if imgc == 1
        image.semi-image(src=c(content.image[0]), inspect)
    
    else if vidc == 1
        video.semi-video(controls)
            source(src=c(content.video[0]))

mixin text(content)
    if content.text
        p.text!= content.text.replace('\n', '<br>')

mixin audio(content)
    if content.audio.length
        .audio 
            each audio in content.audio 
                audio(controls)
                    source(src='/file?id=' + audio.file_id)

mixin other(content)
    if content.other.length
        ul.other
            each other in content.other 
                li.finite
                    a.clean(href='/file?d=1&id=' + other.file_id)= other.file_name

mixin html(content)
    if content.html
        .html.block.styled-scroll!= content.html

mixin msg-content(content)
    .content
        +visual(content)
        +audio(content)
        +other(content)
        +text(content)

mixin post-content(content)
    .content
        +text(content)
        +audio(content)
        +html(content)
        +visual(content)
        +other(content)

mixin system-message(text)
    span.system-message= text

mixin user-message(data)
    .message.block(sender_id=data.sender_id, class=data.minor && 'minor')
        if !data.minor
            - const timeComp = (n) => (n < 10 ? '0' : '') + n;
            - const hourLabel = timeComp(data.datetime.getHours());
            - const minuteLabel = timeComp(data.datetime.getMinutes()); 
            .top-bar
                a.finite.clean.name(href=`/user?tag=${data.sender_tag}`)= data.sender_name
                span.date= `(${hourLabel}:${minuteLabel})`

        +msg-content(data.content)

mixin post(data, hide_author)
    .post.block(id="post" + data.post_id)
        .top-bar
            if !hide_author
                span.prefix Новость от 
                a.finite.clean.name(href=`/user?tag=${data.author_tag}`)= data.author_name
            span.datetime= utils.getPostDatetimeLabel(data.datetime, true)
        if data.title 
            span.title= data.title
        +post-content(data.content)
        